p {
    color : blue;
}

body {

 display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
color: blue;
display: flex;
justify-content: center;
flex-direction: column;
}


label {

    color:blue
}

