{{define "creation"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création Personnage</title>
    <link href="static/css/style.css" rel="stylesheet"/>
    <script src="static/script.js"></script>
</head>
<body>
    <div class="form">
        <div class="back">
<form onsubmit="return confirmerSoumission();" action="/treatment" method="post">
<h1>Créez votre personnage</h1>
    <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>

        <label for="sexe">Sexe :</label>
        <select id="sexe" name="sexe">
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
        </select>

        <label for="couleurcheveux">Couleur de cheveux :</label>
        <select id="couleurcheveux" name="couleurcheveux">
            <option value="brun">Brun</option>
            <option value="blond">Blond</option>
            <option value="noir">Noir</option>
        </select>
        
        <label for="equipe">Equipe :</label>
        <select id="equipe" name="equipe">
            <option value="rouge">Rouge</option>
            <option value="jaune">Jaune</option>
        </select>        

        <input type="submit" value="Valider">
            </form>
        </div>
    </div>
</body>
</html>
{{end}}