{{define "profil"}}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link href="static/css/profil.css" rel="stylesheet" />
    <script src="static/script.js"></script>

</head>
<body>    
    <h1>Liste des Personnages</h1>
    <div class="back">
        {{range .}}
        <p>{{.Nom}}</p>
        <p>{{.Sexe}}</p>
        <p>{{.CouleurCheveux}}</p>
        <p>{{.Equipe}}</p>
        <img id="characterImage" src="/static/images/{{.Image}}" alt="Character Image">

        <div class="supp">
            <form action="/delete" method="post">
                <input type="hidden" name="article_id" value="{{ .ID }}">
                <input type="submit" class="delete-button" value="Supprimer">
            </form>
        </div>

        <div class="modify">
            <form action="/modify" method="post">
                <input type="hidden" name="character" value="{{ .ID }}">
                <input type="submit" class="modify-button" value="Modifier">
            </form>
        </div>
    </div>
    {{end}}

</body>

</html>
{{end}}