{{define "profil"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link href="static/css/profil.css" rel="stylesheet" />
</head>
<header>
    <p>website</p>
</header>

<body>
    <h1>fgjhfghcth</h1>
    {{range .}}
    <h2>{{.Nom}}</h2>
    <div class="supp">
        <form action="/delete" method="post" onsubmit="return confirmDelete()">
            <input type="hidden" name="article_id" value="{{ .ID }}">
            <input type="submit" class="delete-button" value="Supprimer">
        </form>
    </div>

    <div class="modify">
        <form action="/modify" method="post" onsubmit="return confirmDelete()">
            <input type="hidden" name="character" value="{{ .ID }}">
            <input type="submit" class="modify-button" value="Modifier">
        </form>
    </div>
    {{end}}

</body>
<footer>
    <p>github</p>
</footer>

</html>
{{end}}